<div class="footer text-right py-3">

<span>Join our community! </span>
<a href="https://discord.gg/EBf5y6K" target="_blank"><fa-icon [icon]="['fab', 'discord']"></fa-icon></a>
<a href="https://twitch.tv/thepipeline_be" target="_blank"><fa-icon [icon]="['fab', 'twitch']"></fa-icon></a>
<a href="https://twitter.com/ThePipelinebe" target="_blank"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
<a href="https://www.instagram.com/thepipelinebe/" target="_blank"><fa-icon [icon]="['fab', 'instagram']"></fa-icon></a>
<a href="https://www.facebook.com/ThePipelinebe/" target="_blank"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
</div>
