$primary-light: rgb(178,183,133);
$primary-dark: rgb(94,95,70);

$secondary-light: rgb(105,167,200);
$secondary-dark: rgb(53,94,102);

$tertiary-light: rgb(235,94,93);
$tertiary-dark: rgb(128,61,56);

$black: rgb(38,35,31);
$white: rgb(248,249,250);
