<section class="jumbotron text-center socials">
  <div class="container">
    <h2>Join our community!</h2>
    <p>
      <a href="https://discord.gg/EBf5y6K" target="_blank" title="Discord">
        <fa-icon [icon]="['fab', 'discord']"></fa-icon>
      </a>
      <a href="https://twitch.tv/thepipeline_be" target="_blank" title="Twitch">
        <fa-icon [icon]="['fab', 'twitch']"></fa-icon>
      </a>
      <a href="https://twitter.com/ThePipeline_be" target="_blank" title="Twitter">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
      <a href="https://www.instagram.com/thepipeline_be/" target="_blank" title="Instagram">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>
      <a href="https://www.facebook.com/ThePipelinebe/" target="_blank" title="Facebook">
        <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      </a>
    </p>
  </div>
</section>
