<div class="container ">
    <div class="row">
        <div class="text-justify" id="events">
          <h1>GAME & GEEK CALENDAR</h1>
          There’s a lot of different events throughout the year and sometimes it’s really rather difficult to figure out and remember when what happens. That’s why we’ve decided to keep a little calendar consisting of all the Game & Geek related events happening in the Benelux. That way you can always be aware of your favorite event happening!
          <br/><p><strong>Events can be related to:</strong><br>
            Video Games
            <strong>/</strong> Board games
            <strong>/</strong> Tabletop games
            <strong>/</strong> Comics
            <strong>/</strong> TV series
            <strong>/</strong> Movies
            <strong>/</strong> Books
            <strong>/</strong> Cosplay
            <strong>/</strong> LARPs
            <strong>/</strong> ...
          </p>
        </div>
      </div>
      <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%236e7854&amp;ctz=Europe%2FBrussels&amp;src=NnVpaGVlbXFtY2ZwYmtucTQ4bTNzbmtsbDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23009688&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
      <h2>How do I use it?</h2>

      <p>The link below is an iCal feed that can be integrated into your own calendar.
        Copy / paste the link below and import the URL to your Google, Apple, Outlook, or other calendar application.
        Import the URL - don't download the file at the URL - and your calendar will automatically synchronize newly added
        events.
      </p>
      <div (click)="ClipBoard($event)" class="copybox">https://calendar.google.com/calendar/ical/6uiheemqmcfpbknq48m3snkll4%40group.calendar.google.com/public/basic.ics</div>
      <div id="snackbar">Copied</div>
      <br/>
      <h2>BUT… YOU’RE MISSING SOME EVENTS?</h2>
      <p>If you think we’re missing something, please feel free to reach out to us at <a href="mailto:contact@thepipeline.be">contact@thepipeline.be</a> or join
        <a href="https://discord.io/thepipeline" target="_blank">our discord</a>, and tell us which events we are missing. We will take swift action and make sure the missing event gets added.
      </p>
      <p><strong>Please note that events have to:</strong>
      </p>
      <ul>
        <li>Be open for everyone to attend</li>
        <li>Be in or around Belgium</li>
        <li>Take place in the physical, non-virtual, realm</li>
      </ul>
  
    </div>