<div id="home">
  <div class="parallax">
    <div class="parallax-overlay">
      <div class="container">
        <section class="first">
          <h1>Boosting <br> <span>Social Gaming</span></h1>
          <p>
            We are a <span>gaming community</span> that strongly believes <br />in the <span>social power</span> games
            can
            have as a
            medium.
          </p>
          <div class="justify-content-start">
            <a href="https://discord.gg/EBf5y6K" target="_blank" type="button" 
              class="btn btn-primary btn-lg col-5 col-md-3 col-lg-2 btn-joinus">
              <fa-icon [icon]="['fab', 'discord']"></fa-icon> Join us
            </a>
            <a href="https://www.facebook.com/groups/thepipelinebe" target="_blank" type="button"
              class="btn btn-primary btn-lg col-5 col-md-3 col-lg-2 btn-joinus">
              <fa-icon [icon]="['fab', 'facebook']"></fa-icon> Join us
            </a>
           <a href="#info" type="button" id="btn-moreinfo" class="btn btn-primary btn-lg col-10 col-md-3 col-lg-2">
              <fa-icon [icon]="['fas', 'info']"></fa-icon> More info</a>
          </div>
        </section>

      </div>
    </div>
  </div>
  <section class="text-center content">
    <a class="anchor" id="info"></a>
    <article>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm">
            <fa-icon [icon]="['fas', 'comments']"></fa-icon>
            <h5>Community</h5>
            <p>
              Using our active Discord server and social groups we are able to provide our community with the necessary
              media to communicate with eachother.
            </p>
          </div>
          <div class="col-sm">
            <fa-icon [icon]="['fas', 'users']"></fa-icon>
            <h5>Events</h5>
            <p>
              We try our best to organize, support and attend as many of these events as possible in and around Belgium
              in order to bring people closer together in real life.
            </p>
          </div>
          <div class="col-sm">
            <fa-icon [icon]="['fas', 'gamepad']"></fa-icon>
            <h5>Game nights</h5>
            <p>We try to organize as many online game sessions as we can by hosting servers where people can enjoy a
              game together.</p>
          </div>
          <div class="col-sm">
            <fa-icon [icon]="['fas', 'tv']"></fa-icon>
            <h5>Streaming tips</h5>
            <p>
              We try to help and support the Belgian streamer scene by boosting their reach, offering them special
              opportunities through sponsors or partners and organizing specialized streaming events.
            </p>
          </div>
        </div>
      </div>

    </article>
  </section>
  <div class="parallax_3">
    <div class="parallax-overlay">
      <div class="container">
        <section>
          <div class="row">
            <h2 class="col-sm">Want to join this amazing community? <span>Join us now!</span></h2>
            <a class="col-sm" href="https://discord.gg/EBf5y6K" target="_blank" type="button"
              class="btn btn-primary btn-lg btn-joinus" id="btnJoinUs">
              <fa-icon [icon]="['fab', 'discord']"></fa-icon> Join us
            </a>
            <a href="https://www.facebook.com/groups/thepipelinebe" target="_blank" type="button"
            class="btn btn-primary btn-lg btn-joinus">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon> Join us
          </a>
          </div>
        </section>

      </div>
    </div>
  </div>
  <section class="content">
    <article>
      <h2 class="text-center">IN THE MEDIA</h2>
      <hr>
      <p class="text-center">We've been in the news a few times! Check out what the following outlets had to say about
        us and our events!</p>
      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-4">
            <img src="assets/images/media/ggj-2020.jpg" style="width:100%" />
          </div>
          <div class="col">
            <h5>February 03 2020 // GVA</h5>
            <strong>Global Game Jam in Het Bos: jongeren maken op 48 uur tijd een videospelletje</strong>
            <p>Afgelopen weekend vond op maar liefst 923 verschillende locaties wereldwijd de Global Game Jam plaats. Op
              48 uur tijd maakten teams van jonge programmeurs, visual artists, scenarioschrijvers en muzikanten een
              videospelletje, waarbij samenwerking en vooral een gezonde dosis experimenteerdrift centraal stond.
              <a href="https://www.gva.be/cnt/dmf20200202_04831572/global-game-jam-in-het-bos-jongeren-maken-op-48-uur-tijd-een-videospelletje"
                target="_blank">Read more...</a>
            </p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-4">
            <img src="assets/images/media/g4l-2019.jpg" style="width:100%" />
          </div>
          <div class="col">
            <h5>December 09 2019 // HLN</h5>
            <strong>Gaming 4 Life-actie brengt mentale gezondheid bij jongeren onder de aandacht</strong>
            <p>Met de derde editie van Gaming 4 Life verzamelt een groep Belgische gamers en gamestreamers opnieuw twee
              weken lang geld voor een goed doel. De aanhoudende livestream, die nog loopt tot 21 december, is dit jaar
              ten voordele van Te Gek!?, een vzw die zich inzet voor het bespreekbaar maken van mentale gezondheid bij
              jongeren.
              <a href="https://www.hln.be/ihln/games/-gaming-4-life-actie-brengt-mentale-gezondheid-bij-jongeren-onder-de-aandacht~a60548f3/"
                target="_blank">Read more...</a>
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>
</div>
